{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>ADD A NEW POST</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">

                    <form id="contactForm" action="addpost" method="post" data-sb-form-api-token="API_TOKEN">
                        <div class="form-floating">
                            <input class="form-control" id="name" name="title" type="text"
                                   placeholder="Enter your name..." data-sb-validations="required"/>
                            <label for="name">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <div class="form-floating">
                            <input name="author" class="form-control" id="email" type="text"
                                   placeholder="Enter your email..." data-sb-validations="required,email"/>
                            <label for="email">Autor</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email"> not valid.</div>
                        </div>
                        <div class="form-floating">
                            <input name="date" class="form-control"  type="date"
                                   placeholder="date" data-sb-validations="required,email"/>
                            <label for="email">Date</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">date is required</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">date is invalid</div>
                        </div>
                        <div class="form-floating">
                            <input name="slug" class="form-control" id="" type="text"
                                   placeholder="slug" data-sb-validations="required,email"/>
                            <label for="email">Slug</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required"> required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email"> not valid.</div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="message" name="content"
                                      placeholder="Enter your content here..." style="height: 12rem"
                                      data-sb-validations="required"></textarea>
                            <label for="message">Content</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.
                            </div>
                        </div>
                        <br/>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->

                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error sending message!</div>
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase " id="submitButton" type="">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}