 {% extends "layout.html" %}
 {% block body %}
  <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Post</h1>
                            <span class="subheading">read post in detail</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                     {% for obj in data %}
                       <h2 class="section-heading">{{obj.title}}</h2>
                        <p>{{obj.content}} </p>
                        <p>--posted by {{obj.author}} on {{obj.date}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
       {% endblock %}